* {
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 80vh;
    background-color: lightgreen;
    padding: 20px;
}

header, footer {
    display: flex;
    justify-content: center;
    background-color: greenyellow;
    padding: 10px;
}

.question-box {
    background-color: lightgray;
    padding: 15px;
    border-radius: 12px;
    width: 400px;
}

#result {
    background-color: lightgray;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
}