<html>
    <head>
        <title>Website | Home Page</title>
        <link rel="stylesheet" href="Home_page_style.css">
    </head>

    <body>
        <header>
            <h2>Header</h2>
        </header>

        <hr>

        <nav>
            <a href="#Home">Home</a> |
            <a href="#About">About</a> |
            <a href="#Section">Section</a> |
            <a href="#Contact">Contact</a>
        </nav>
        
        <hr> 

        <div id="Home">
            <h3>Home</h3>
            <p>Enter Home content</p>
        </div>

        <hr>

        <div id="About">
            <h3>About</h3>
            <p>Enter about content</p>
        </div>

        <hr>

        <div id="Section">
            <h3>Section</h3>
            <p>Enter section content</p>
        </div>

        <hr>

        <div id="Contact">
            <h3>Contact</h3>
            <p>Enter Contact content</p>
        </div>

        <hr>

        <footer>
            <p>© 2026 Meendum Varuga , Nandri !!</p>
        </footer>
    </body>
</html>

