<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Emergence AI Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="header">Emergency AI</div>

    <div class="container">

        <!-- queue tab -->
        <div class="queue">
            <h3>Priority Queue</h3>
            <div id="queueList"></div>
        </div>

        <!-- right panel -->
        <div class="right">

            <!-- ongoing call -->
            <div class="call-card">
                <h3>Ongoing Call</h3>
                <p><b>Name:</b> <span id="callerName">None</span></p>
                <p><b>Emotion:</b> <span id="callerEmotion">-</span></p>
                <button onclick="hangup()">Hang Up</button>
            </div>

            <!-- notes -->
            <div class="notes">
                <h3>Notes</h3>
                <textarea placeholder="Write notes here..."></textarea>
            </div>

        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>